@import url(./css/reset.css);
@font-face {
  font-family: "Cafesquare";
  src: url(./fonts/Cafe24Ohsquare.woff);
}
@font-face {
  font-family: "pretendard";
  src: url(./fonts/Pretendard-Regular.woff);
}
:root {
  --color-main: rgb(17, 17, 17);
  --color-sub: rgb(255, 255, 255);
  --color-sup: rgb(232, 232, 232);
  --color-point: rgb(25, 101, 254);
  --color-im: rgb(254, 218, 25);
  --font-heading: "Cafesquare";
  --font-article: "pretendard";
  --font-size-head: 55px;
  --s: 8px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-main);
  font-family: var(--font-article);
}

#wallPaper {
  will-change: transform;
  position: fixed;
  transform: scaleY(0);
  inset: 0px;
  transform-origin: center bottom;
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1) 0.1s;
  z-index: -1;
  top: 0;
  position: fixed;
  width: 100%;
  transform-origin: center top;
  background-color: var(--color-sub);
}
#wallPaper.even {
  transform: scaleY(0);
}
#wallPaper.odd {
  transform: scaleY(1.2);
}

#header {
  height: 10.4167vw;
  width: 100%;
}
#header nav.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 6.9444vw;
}
#header nav.inner .tabs {
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 5.5556vw;
  perspective: 99999px;
  will-change: transform;
  transition: 0.35s;
}
#header nav.inner .tabs:first-of-type .tab:first-child, #header nav.inner .tabs:last-of-type .tab:first-child {
  padding: 0 1.6vw;
}
#header nav.inner .tabs:hover .tab {
  transform: rotateX(90deg);
}
#header nav.inner .tabs .tab {
  display: flex;
  justify-content: center;
  font-family: var(--font-heading);
  font-size: 4vw;
  color: var(--color-sub);
  padding: 0 1.4vw;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-30px);
  transition: transform 0.4s cubic-bezier(0.26, 1, 0.3, 1);
  will-change: transform;
}
#header nav.inner .tabs .tab:nth-of-type(2) {
  transition-delay: 0.0514s;
}
#header nav.inner .tabs .tab:nth-of-type(3) {
  transition-delay: 0.1028s;
}
#header nav.inner .tabs .tab:nth-of-type(4) {
  transition-delay: 0.15428s;
}
#header nav.inner .tabs .tab:nth-of-type(5) {
  transition-delay: 0.1957142s;
}
#header nav.inner .tabs .tab:nth-of-type(6) {
  transition-delay: 0.24714s;
}
#header nav.inner .tabs .tab:nth-of-type(7) {
  transition-delay: 0.28857s;
}
#header nav.inner .tabs .tab .top,
#header nav.inner .tabs .tab .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#header nav.inner .tabs .tab .top {
  transform: rotateY(0deg) translateZ(-2.777778vw);
}
#header nav.inner .tabs .tab .bottom {
  transform: rotateX(-90deg) translateZ(-2.777778vw);
}

main {
  display: none;
  font-family: var(--font-article);
}

#tab1 {
  color: var(--color-sub);
}

#tab2 {
  color: var(--color-main);
}

#tab3 {
  color: var(--color-sub);
}
#tab3 .intro h2.title {
  font-size: var(--l);
}
#tab3 .intro p {
  line-height: 25px;
}
#tab3 .content-box {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 1.5rem;
  word-break: keep-all;
}
#tab3 .scroll-content .scroll-graphic {
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}
#tab3 .scroll-content .scroll-graphic .graphic-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  will-change: opacity;
}
#tab3 .scroll-content .scroll-graphic .graphic-item .scene-img {
  max-height: 100vh;
}
#tab3 .scroll-content .scroll-graphic .graphic-item .scene-img img {
  max-width: 100%;
  height: auto;
}
#tab3 .scroll-content .scroll-graphic .graphic-item.visible {
  opacity: 1;
}
#tab3 .scroll-content .scroll-graphic .graphic-item .bird {
  position: absolute;
  left: 0;
  bottom: 70%;
  width: 100px;
  transform: translateX(-100%);
  transition: 1.5s linear 0.35s;
}
#tab3 .scroll-content .scroll-text {
  position: relative;
}
#tab3 .scroll-content .scroll-text .text {
  color: var(--color-main);
  font-size: var(--m);
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  word-break: keep-all;
  margin-bottom: 60vh;
}
#tab3 .scroll-content .scroll-text .text strong {
  font-size: var(--l);
  color: #ff6565;
}
#tab3 .scroll-content .scroll-text .text:last-child {
  margin-bottom: 40vh;
}
#tab3 .normal-content p {
  font-size: 16px;
}
#tab3 footer {
  margin-top: 5vh;
  font-size: 10px;
  color: var(--color-sup);
  padding: 2rem 0 1rem;
  text-align: center;
}