@import url(./css/reset.css);
@font-face {
  font-family: "Cafesquare";
  src: url(./fonts/Cafe24Ohsquare.woff);
}
@font-face {
  font-family: "pretendard";
  src: url(./fonts/Pretendard-Regular.woff);
}
:root {
  --color-main: rgb(17, 17, 17);
  --color-sub: rgb(255, 255, 255);
  --color-sup: rgb(232, 232, 232);
  --color-point: rgb(25, 101, 254);
  --color-im: rgb(254, 218, 25);
  --font-heading: "Cafesquare";
  --font-article: "pretendard";
  --font-size-head: 55px;
  --s: 8px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
}
// 글꼴,색,본문의 색,크기 지정

body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--color-main);
  font-family: var(--font-article);
}
#wallPaper {
  will-change: transform;
  position: fixed;
  transform: scaleY(0);
  inset: 0px;
  transform-origin: center bottom;
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1) 0.1s;
  z-index: -1;
  top: 0;
  position: fixed;
  width: 100%;
  transform-origin: center top;
  background-color: var(--color-sub);
  &.even {
    transform: scaleY(0);
  }
  &.odd {
    transform: scaleY(1.2);
  }
}
#header {
  height: 10.4167vw;
  width: 100%;
  nav.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 6.9444vw;
    .tabs {
      opacity: 1;
      position: relative;
      display: flex;
      align-items: center;
      height: 5.5556vw;
      perspective: 99999px;
      will-change: transform;
      transition: 0.35s;
      &:first-of-type,
      &:last-of-type {
        .tab:first-child {
          padding: 0 1.6vw;
        }
      }

      &:hover .tab {
        transform: rotateX(90deg);
      }
      .tab {
        // 반응형 할때 모바일에서 vw 살짝만 올려주면 될 것 같다
        display: flex;
        justify-content: center;
        font-family: var(--font-heading);
        font-size: 4vw;
        color: var(--color-sub);
        padding: 0 1.4vw;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-30px);
        transition: transform 0.4s cubic-bezier(0.26, 1, 0.3, 1);
        will-change: transform;
        &:nth-of-type(2) {
          transition-delay: 0.0514s;
        }

        &:nth-of-type(3) {
          transition-delay: 0.1028s;
        }

        &:nth-of-type(4) {
          transition-delay: 0.15428s;
        }

        &:nth-of-type(5) {
          transition-delay: 0.1957142s;
        }

        &:nth-of-type(6) {
          transition-delay: 0.24714s;
        }

        &:nth-of-type(7) {
          transition-delay: 0.28857s;
        }
        .top,
        .bottom {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
        }
        .top {
          transform: rotateY(0deg) translateZ(-2.777778vw);
        }
        .bottom {
          transform: rotateX(-90deg) translateZ(-2.777778vw);
        }
      }
    }
  }
}
main {
  display: none;
  font-family: var(--font-article);
}
#tab1 {
  color: var(--color-sub);
}
#tab2 {
  color: var(--color-main);
}
#tab3 {
  color: var(--color-sub);
  .intro {
    h2.title {
      font-size: var(--l);
    }
    p {
      line-height: 25px;
    }
  }
  .content-box {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 1.5rem;
    word-break: keep-all;
  }
  .scroll-content {
    .scroll-graphic {
      overflow-x: hidden;
      position: sticky;
      top: 0;
      height: 100vh;
      .graphic-item {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.5s;
        will-change: opacity;
        .scene-img {
          max-height: 100vh;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        &.visible {
          opacity: 1;
        }
        .bird {
          position: absolute;
          left: 0;
          bottom: 70%;
          width: 100px;
          transform: translateX(-100%);
          transition: 1.5s linear 0.35s;
        }
      }
    }
    .scroll-text {
      position: relative;
      .text {
        color: var(--color-main);
        font-size: var(--m);
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
        border-radius: 10px;
        padding: 1.5rem 1rem;
        word-break: keep-all;
        margin-bottom: 60vh;
        strong {
          font-size: var(--l);
          color: #ff6565;
        }
        &:last-child {
          margin-bottom: 40vh;
        }
      }
    }
  }
  .normal-content p {
    font-size: 16px;
  }
  footer {
    margin-top: 5vh;
    font-size: 10px;
    color: var(--color-sup);
    padding: 2rem 0 1rem;
    text-align: center;
  }
}
