@import url(./css/reset.css);
@font-face {
  font-family: "p";
  src: url(./fonts/Pretendard-Regular.woff);
}

body,
html {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: "p";
  font-size: 15px;
}

section {
  height: 100%;
  padding-bottom: 50px;
  &:last-of-type {
    padding: 0;
  }
  &.project1 {
    h1,
    h2,
    h3 {
      color: rgb(190, 190, 255);
    }
    p {
      strong {
        font-size: 30px;
        color: #c2508b;
      }
    }
    article {
      &:first-of-type {
        background: url(./tab2-imges/pro1-mainbg.png) no-repeat center;
        background-size: cover;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          top: 0;
          left: 0;
          position: absolute;
          background-color: rgba(17, 17, 17, 0.2);
        }
      }
    }
  }
  &.project2 {
    article {
      &:first-of-type {
        background: url(./tab2-imges/pro2-mainbg.png) no-repeat left;
        background-size: contain;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          top: 0;
          left: 0;
          position: absolute;
          background-color: rgba(17, 17, 17, 0.2);
        }
      }
      h1 {
        text-align: right;
        padding-top: 150px;
        color: #2e4efe;
        z-index: 2;
      }
    }
  }
}

// 이 클래스가 붙은 요소들은 화면에 보일때 효과 발생
.proScroll {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.1s;
  transition-delay: 0.2s;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

article {
  width: 100%;
  height: 100vh;
  position: relative;
  .inner {
    word-break: keep-all;
    padding: 0 1.5rem;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    h1 {
      font-size: 60px;
    }
    h2 {
      padding-top: 50px;
      font-size: 40px;
    }
    h3 {
      font-size: 25px;
    }
    p {
      padding-top: 50px;
      font-size: 25px;
    }
  }
}

// 공통 레이아웃 ========================

.pro1-art1 {
  .inner {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    h1 {
      letter-spacing: -1px;
      margin-top: -150px;
    }
  }
}

.pro1-art2 {
  .inner {
    figure {
      padding-top: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.pro1-art3 {
  height: 100%;
  padding-bottom: 100px;
  .items {
    transition: all 0.35s;
    gap: 50px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    position: relative;
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff,
      inset -0.2rem -0.2rem 0.5rem #ffffff;
    &:nth-of-type(odd) {
      top: 30px;
    }
    p {
      padding: 0;
      font-size: 18px;
    }
  }
}
.pro1-art4 {
  height: 100%;
  .sub-title {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    span {
      width: 50px;
      height: 20px;
      img {
        width: 80%;
      }
    }
    p {
      line-height: 25px;
      padding: 0;
      &:last-of-type strong {
        color: rgb(190, 190, 255);
      }
    }
  }
  .concept {
    position: relative;
    margin-top: 100px;
    width: 100%;
    min-height: 100px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    .contents {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      align-items: center;
      width: 250px;
      height: 100px;
      background: linear-gradient(
        93.65deg,
        rgb(190, 190, 255) 28.81%,
        #f6f3ff 102.65%
      );
      border-radius: 46.4286px;
      span {
        display: inline-block;
        border-radius: 50%;
        line-height: 80px;
        width: 80px;
        height: 80px;
        background-color: #fff;
      }
    }
  }
  .concept2 {
    margin-top: 150px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    .contents {
      height: 100%;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        vertical-align: top;
      }
      &:first-of-type {
        gap: 10px;
        flex-direction: column;
        span {
          font-size: 18px;
        }
      }
      &:last-of-type {
        img {
          width: 50%;
        }
      }
    }
  }
}

.pro1-art5 {
  height: 100%;
  .descs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .desc {
      width: 30%;
      margin-top: 100px;
      p {
        color: #cfcfcf;
        padding: 0;
        margin-bottom: 50px;
      }
    }
  }
  .color {
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    &:first-of-type {
      background-color: rgb(190, 190, 255);
    }
    &:nth-of-type(2) {
      background-color: #c2508b;
    }
    &:last-of-type {
      background-color: #f2f2f2;
    }
  }
  .result {
    margin-top: 150px;
    width: 100%;
    height: 600px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2,
    p {
      padding: 0 1rem;
    }
    figure {
      width: 200px;
      height: 200px;
      border-radius: 15%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.pro2-art2 {
  height: 100%;
  figure {
    margin-top: 30px;
    img {
      width: 100%;
    }
  }
}

.pro2-art3 {
  .content {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .phone {
      margin-right: -100px;
      width: 60%;
      display: flex;
      figure {
        position: relative;
        &:first-of-type {
          top: 100px;
          margin-right: -230px;
          z-index: 2;
        }
      }
    }
    .desc {
      width: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      p {
        font-size: 30px;
      }
    }
  }
}
.pro2-art4 {
  height: 100%;
  padding-bottom: 50px;
  .concept {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .contents {
      figure {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .sub-title {
        padding-left: 2rem;
        text-align: left;
        position: relative;
        margin: 50px 0;
        &::after {
          content: "";
          width: 50px;
          height: 3px;
          background-color: #2e4efe;
          position: absolute;
          bottom: 0;
          left: 2rem;
        }
      }
      width: 50%;
      &:first-of-type {
        width: 100%;
      }
      .colorItem {
        margin-left: 50px;
        display: flex;
        gap: 100px;
      }
      .colorBox {
        display: flex;
        flex-direction: column;

        .color {
          position: relative;
          width: 70px;
          height: 70px;
          border: 1px solid #2e4efe;
          &:first-of-type {
            background-color: #2e4efe;
            border-bottom: none;
          }
          &:nth-of-type(2) {
            border-bottom: none;
            background-color: #080d2a;
          }
          &:last-of-type {
            background-color: #fefefe;
          }
        }
      }
      .colorText {
        line-height: 35px;
        display: flex;
        flex-direction: column;
      }
      .fonts {
        display: flex;
        justify-content: center;
        gap: 50px;
      }
      .fonts,
      .fontDesc {
        margin-left: 50px;
      }
      .fontDesc {
        font-size: 18px;
      }
    }
  }
}

.pro2-art5 {
  padding: 30px 0;
}
// 반응형
@media screen and (max-width: 1024px) {
  .pro1-art2 {
    .inner {
      figure {
        padding-top: 100px;
      }
    }
  }
  .pro2-art3 {
    height: 100%;
    .content {
      padding: 0.5rem;
      width: 100%;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .phone {
        margin: auto;
        justify-content: center;
        width: 80%;
        display: flex;
        figure {
          position: relative;
          &:first-of-type {
            top: 100px;
            margin-right: -230px;
            z-index: 2;
          }
        }
      }
      .desc {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .pro2-art4 {
    margin-top: 100px;
    .concept {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .contents {
        width: 100%;
        .sub-title {
          padding: 0;
          &::after {
            left: 0;
          }
        }
        .fonts,
        .fontDesc {
          margin-left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  article {
    &:nth-of-type(2),
    &:last-of-type {
      .inner {
        padding: 0;
      }
    }
  }
  .pro1-art2 {
    .inner {
      figure {
        padding-top: 100px;
      }
    }
  }

  .pro1-art3 {
    margin-top: -100px;
    padding-bottom: 50px;
    .items {
      margin-top: 50px;
      padding: 1rem 2rem;
      .item {
        flex: 47%;
        &:nth-of-type(odd) {
          top: 0;
          left: 30px;
        }
        &:nth-of-type(even) {
          right: 30px;
        }
      }
    }
  }
  .pro1-art4 {
    .sub-title {
      margin-top: 50px;
      gap: 50px;
    }
    .concept {
      .contents {
        &:nth-of-type(odd) {
          margin-left: 100px;
        }
        &:nth-of-type(even) {
          margin-right: 100px;
        }
      }
    }
    .concept2 {
      margin-top: 50px;
    }
  }
  .pro1-art4 {
    padding-top: 50px;
    .descs {
      margin: 50px 0;
      .desc {
        width: 45%;
      }
    }
    .result {
      margin-top: 50px;
    }
  }
  .pro2-art5 {
    video {
      margin: -100px;
    }
  }
}
