@charset "UTF-8";
/* 10/25 시작 */
/* 메뉴 구성 큐브 효과로 하기로 하고 탭123 으로 연결 탭 애니메이션 + 화면 전환 10/28 */
/* tab3 반응형 끝 이지만 수정하면됨 10/30 */
/* tab1 work desc만 추가 하면 끝 11/1 */
/* tab2 프로젝트 이제 추가하면 됨  */

@import url(./css/reset.css);

@font-face {
  font-family: "Cafesquare";
  src: url(./fonts/Cafe24Ohsquare.woff);
}
@font-face {
  font-family: "pretendard";
  src: url(./fonts/Pretendard-Regular.woff);
}
@font-face {
  font-family: "Nanum";
  src: url(./fonts/NanumSquareOTF_acEB.woff);
}
:root {
  --color-main: rgb(17, 17, 17);
  --color-sub: rgb(255, 255, 255);
  --color-sup: rgb(232, 232, 232);
  --font-heading: "Cafesquare";
  --font-article: "pretendard";
  --font-work: "Nanum";
  --font-size-head: 55px;
  --s: 8px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
}
@mixin flex-r-c {
  display: flex;
  justify-content: center;
  align-content: center;
}
@mixin flex-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin graTitle1 {
  background-image: linear-gradient(0deg, #04a1f6, #7ac5f9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
}
@mixin graTitle2 {
  background-image: linear-gradient(0deg, #e4f12e, #ffff8e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
}
@mixin graTitle3 {
  background-image: linear-gradient(0deg, #ff96ff, #e400ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-repeat: no-repeat;
}
body,
html {
  height: 100%;
}
body {
  overflow-y: hidden;
  background-color: var(--color-main);
  font-family: var(--font-article);
}

// intro start===============
#intro {
  background-color: var(--color-sub);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}
.introWrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro .introMain {
  position: absolute;
  width: 200%;
  left: -50%;
  top: 50%;
  transform: translate(0, -50%);
}
.intro::after {
  content: "";
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  background-color: var(--color-main);
  z-index: 10;
  transform: translate(0, -50%);
  transition: 0.4s;
  transition-delay: 2.5s;
}
.intro .introMain .line {
  position: absolute;
  width: 100%;
  height: 1px;
  z-index: 10;
  background-color: var(--color-sub);
  transition: 0.2s;
  transition-delay: 2.1s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}
.intro .introMain .line span {
  display: block;
  width: 100%;
  height: 100%;
}
.intro .introMain .line span::before {
  content: "";
  position: absolute;
  background-color: var(--color-main);
  width: 0;
  height: 1px;
  transition: 0.8s;
}
.intro .introMain .line.top {
  top: 0;
  left: 0;
}
.intro .introMain .line.top span::before {
  bottom: 0;
  left: 25%;
}
.intro .introMain .line.bot {
  bottom: 0;
  right: 0;
}
.intro .introMain .line.bot span::before {
  top: 0;
  right: 25%;
}
.intro .introText {
  position: relative;
  padding: 20px 0 30px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .introText p {
  font-size: 7rem;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
  transition: 0.5s;
  @include graTitle1();
}
.intro .introText p:last-of-type {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.intro.open::after {
  height: 100%;
}
.intro.open .line {
  height: 50%;
}
.intro.open .line span::before {
  width: 50%;
}
.intro.open .introText p:first-of-type {
  opacity: 1;
}
.intro.none {
  display: none;
}
// intro start===============end
// header start===============
#header {
  height: 7vw;
  width: 100%;
  z-index: 99;
  position: fixed;
  transition: all 0.5s cubic-bezier(1, 1, 1, 1);
  top: 0;
  opacity: 1;
}
#header.active {
  transform: translateY(-100%);
}
#header.hide {
  display: none;
}
#header nav.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 7vw;
}
#header nav.inner .tabs {
  position: relative;
  display: flex;
  align-items: center;
  height: 4vw;
  perspective: 99999px;
  will-change: transform;
  transition: 0.35s;
  &:nth-of-type(1) {
    .tab .bottom {
      @include graTitle1();
    }
  }
  &:nth-of-type(2) {
    .tab .bottom {
      @include graTitle2();
    }
  }
  &:nth-of-type(3) {
    .tab .bottom {
      @include graTitle3();
    }
  }
}
#header nav.inner .tabs:first-of-type .tab:first-child,
#header nav.inner .tabs:last-of-type .tab:first-child {
  padding: 0 1.52vw;
}
#header nav.inner .tabs:hover .tab {
  transform: rotateX(90deg);
}
#header nav.inner .tabs .tab {
  display: flex;
  justify-content: center;
  font-family: var(--font-heading);
  font-size: 3.5vw;
  color: var(--color-sub);
  line-height: 4vw;
  padding: 0 1.25vw;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-30px);
  transition: transform 0.4s cubic-bezier(0.26, 1, 0.3, 1);
  will-change: transform;
}

#header nav.inner .tabs .tab:nth-of-type(2) {
  transition-delay: 0.0514s;
}
#header nav.inner .tabs .tab:nth-of-type(3) {
  transition-delay: 0.1028s;
}
#header nav.inner .tabs .tab:nth-of-type(4) {
  transition-delay: 0.15428s;
}
#header nav.inner .tabs .tab:nth-of-type(5) {
  transition-delay: 0.1957142s;
}
#header nav.inner .tabs .tab:nth-of-type(6) {
  transition-delay: 0.24714s;
}
#header nav.inner .tabs .tab:nth-of-type(7) {
  transition-delay: 0.28857s;
}
#header nav.inner .tabs .tab .top,
#header nav.inner .tabs .tab .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#header nav.inner .tabs .tab .top {
  transform: rotateY(0deg) translateZ(-2.777778vw);
}
#header nav.inner .tabs .tab .bottom {
  transform: rotateX(-90deg) translateZ(-2.777778vw);
}
// header end===================
// 빈공간 scroll===================
.wallpaper {
  height: 50vh;
}
// marquee title===================
.title {
  position: relative;
  transition: all 1s cubic-bezier(1, 1, 1, 1);
  width: 100vw;
  margin: 5vh 0;
  display: flex;
  transform: translate(-40.188%, 0%) translate3d(0px, 0px, 0px);
  &:first-of-type {
    transform: rotate(-2deg);
    background-color: var(--color-main);
    border-bottom: 1px solid #7ac5f9;
    border-top: 1px solid #7ac5f9;
    h1 {
      @include graTitle1();
    }
  }
  &:nth-of-type(2) {
    justify-content: flex-end;
    transform: rotate(2deg);
    background-color: var(--color-main);
    border-bottom: 1px solid #ffff8e;
    border-top: 1px solid #ffff8e;
    h1 {
      @include graTitle2();
    }
  }
  &:last-of-type {
    transform: rotate(-2deg);
    background-color: var(--color-main);
    border-bottom: 1px solid #ff96ff;
    border-top: 1px solid #ff96ff;
    h1 {
      @include graTitle3();
    }
  }
  h1 {
    display: flex;
    padding: 1rem 0;
    font-size: 5rem;
  }
}
// marqueetext=======end=======
// work start===============================
#work {
  height: 100vh;
  width: 100%;
  padding-top: 4vw;
  color: var(--color-sub);
  &.active {
    display: block;
  }
  .workSlide {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textSlide {
    background-color: var(--color-main);
    z-index: 2;
    width: 500px;
    height: 70%;
    overflow: hidden;
    position: relative;
  }

  .textWrap {
    transform: translateY(-1200%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .workText {
    padding-left: 4rem;
    z-index: 99;
    color: rgb(255, 255, 255);
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    .textExp {
      span {
        line-height: 1.3;
        display: block;
        margin-top: 20px;
        &:nth-of-type(1) {
          font-size: 20px;
          transition-delay: 0.2s;
        }
        &:nth-of-type(2) {
          font-size: 18px;
          color: var(--color-sup);
          transition-delay: 0.3s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.4s;
          img {
            object-fit: contain;
          }
        }
      }
      & > * {
        transition: all 0.7s;
        opacity: 0;
        transform: translateY(50px);
      }
    }
  }

  .workText.on {
    p {
      background-size: calc(100% - 1px) 100%;
      background-position: left center;
    }
    .textExp > * {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  // 텍스트 필 텍스트
  .workText p {
    font-family: var(--font-work);
    font-size: 45px;
    margin-top: 150px;
    @include graTitle1();
    background-position: 0% 50%;
    background-size: 0% 100%;
    transition: 0.6s cubic-bezier(1, 1, 1, 1);
    letter-spacing: -2px;
    white-space: nowrap;
  }

  .bgSlide {
    order: -1;
    position: relative;
    width: 100%;
    margin-right: -500px;
    height: 100%;
  }

  .bgWrap {
    height: 100%;
    width: 100%;
    transform: translateX(-1200%);
    position: absolute;
    display: flex;
  }

  .bgWrap.animate {
    transition: 0.7s cubic-bezier(1, 1, 1, 1);
  }

  .bg {
    z-index: 1;
    opacity: 0;
    transition: 0.7s cubic-bezier(1, 1, 1, 1);
    top: 50%;
    transform: translateY(-50%);
    width: 750px;
    height: 375px;
    position: absolute;
    transform-origin: center -50%;
    .thum {
      position: relative;
      left: 25px;
      bottom: 10px;
      & > * {
        opacity: 0;
        transition-delay: 1s;
      }
      span {
        background-image: linear-gradient(180deg, #04a1f6, #7ac5f9);
        padding: 0.2rem;
        color: var(--color-sub);
        font-weight: bold;
        font-size: 14px;
        &:first-of-type {
          margin-right: 12.5px;
        }
      }
    }
  }

  .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bg.on {
    opacity: 0.9;
    .thum > * {
      opacity: 1;
    }
    & .liner.tl {
      opacity: 1;
      width: 100%;
      transition: all 0.25s linear;
      transition-delay: 0.55s;
    }
    & .liner.rt {
      opacity: 1;
      height: 100%;
      transition: all 0.25s linear;
      transition-delay: 0.8s;
    }
    & .liner.rb {
      opacity: 1;
      width: 100%;
      transition: all 0.25s linear;
      transition-delay: 1.05s;
    }

    & .liner.lb {
      opacity: 1;
      height: 100%;
      transition: all 0.25s linear;
      transition-delay: 1.3s;
    }
  }

  .bg.sub {
    transform: scaleY(0.6);
    opacity: 0.5;
  }

  .imgwrap {
    background: no-repeat center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .imgwrap .liner {
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    background-image: linear-gradient(180deg, #04a1f6, #7ac5f9);
  }
  .bg.sub {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .liner.tl {
    height: 2px;
    left: 0;
    top: 0;
  }
  .liner.rt {
    right: 0;
    top: 0;
    width: 2px;
  }
  .liner.rb {
    right: 0;
    bottom: 0;
    height: 2px;
  }
  .liner.lb {
    left: 0;
    bottom: 0;
    width: 2px;
  }
}
// work end-----------------------------------
// project====================================
#project {
  height: 100vh;
  .inner {
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .projectWrap {
    height: 80%;
    width: 40%;
  }
  .projectImgWrap {
    height: 80%;
    width: 50%;
    position: relative;
    figure {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      transition: 0.5s cubic-bezier(1, 1, 1, 1);
      &.active {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .projectTit {
    height: 33.3333%;
    padding: 2rem 0;
    gap: 30px;
    z-index: 2;
    @include flex-c-c();
    align-items: flex-start;
    a {
      width: 100%;
      position: relative;
      height: 100%;
    }
    h2 {
      margin-top: 20px;
      text-transform: uppercase;
      @include graTitle2();
      background-position: 0% 50%;
      background-size: 0% 100%;
      transition: 0.5s cubic-bezier(1, 1, 1, 1);
      -webkit-text-stroke: #e4f12e 1px;
      color: transparent;
      font-size: 70px;
      letter-spacing: -1px;
      &.on {
        background-size: calc(100% - 1px) 100%;
        background-position: left center;
      }
    }
    span.subTit {
      color: var(--color-sup);
      font-size: 20px;
    }
    & .pLine {
      transition: 0.5s cubic-bezier(1, 1, 1, 1);
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #e4f12e;
    }
  }
}
// project ============================end=======
// about==========================start
// dataindex 주고 굳이 레이아웃이 바뀌는 느낌은 아니라 자체 에서 반응형 global-width로
// 이미지도 크기에 맞게 끔 줄어들고 하게 했다.
//  data-index로 말풍선 + 이미지 묶어서 갯수 같게 해서visible 빼고 넣기

#about {
  padding-top: 10vh;
  color: var(--color-sub);
  .introduce {
    h2.introTitle {
      font-size: var(--xxl);
      padding-bottom: 15px;
    }
    p {
      line-height: 1.5;
    }
  }
  .content-box {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 1.5rem;
    word-break: keep-all;
  }
  .scroll-content {
    .scroll-graphic {
      overflow-x: hidden;
      position: sticky;
      top: 0;
      height: 100vh;
      .graphic-item {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.5s;
        will-change: opacity;
        .scene-img {
          max-height: 100vh;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        &.visible {
          opacity: 1;
        }
      }
    }
    .scroll-text {
      position: relative;
      .text {
        color: var(--color-main);
        font-size: var(--l);
        line-height: 1.5;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
        border-radius: 10px;
        padding: 1.5rem 1rem;
        word-break: keep-all;
        margin-bottom: 60vh;
        strong {
          font-size: var(--xl);
          letter-spacing: 1px;
          color: #e400ff;
        }

        &:last-child {
          margin-bottom: 40vh;
        }
      }
    }
  }
  .normal-content {
    padding: 2rem 1.5rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    max-width: 1250px;
    width: 100%;
    margin: 2rem auto;
    min-height: 80vh;
    color: var(--color-main);
    border-radius: 10px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    h3 {
      color: #04a1f6;
      font-size: var(--l);
    }
    .profileLeft {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 35%;
      height: 100%;
      padding: 10% 0;
      border-right: 1px solid #000;
      h3 {
        margin-bottom: 15px;
      }
      figure {
        width: 300px;
        height: 300px;
        margin: 50px 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .profileRight {
      width: 65%;
      padding-left: 1.5rem;
      height: 100%;
      .col {
        &:not(:first-of-type) {
          h3 {
            margin-top: 30px;
          }
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid #000;
        }
        .inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 50px;
          padding: 30px 0;
          padding-left: 2rem;
          .infoL,
          .infoR {
            & > * {
              padding-bottom: 10px;
            }
          }
        }
        &.col2 {
          p {
            span {
              font-size: 13px;
              color: var(--color-sup);
              margin-left: 10px;
            }
          }
          .skillBar {
            position: relative;
            display: inline-block;
            width: 200px;
            height: 10px;
            background-color: var(--color-sup);
            border-radius: 10px;
            padding-bottom: 5px;
            span {
              will-change: width;
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 10px;
              width: 0;
              height: 100%;
              background-color: #04a1f6;
            }
          }
        }
      }
    }
  }
}
// about=====================================
// footer=====================================
footer {
  margin-top: 5vh;
  font-size: 10px;
  color: var(--color-sup);
  padding: 1.5rem 0;
  text-align: center;
}
// pc->모바일 순
@media screen and (max-width: 1124px) {
  .intro .introText {
    padding: 10px 0 15px;
  }
  .intro .introText p {
    font-size: 4rem;
  }
  #work .workSlide {
    flex-direction: column;
    align-items: center;
  }
  #work .workSlide .textSlide {
    width: 100%;
    height: 30%;
  }
  #work .workSlide .textSlide .textWrap .workText {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #work .workSlide .textSlide .textWrap .workText p {
    /* width: 80%; */
    padding: 0 1rem;
    text-align: center;
    margin: 0;
    font-size: 5.5vw;
  }
  #work .workSlide .textSlide .textWrap .workText .textExp {
    text-align: left;
  }
  #work .workSlide .textSlide .textWrap .workText .textExp span {
    margin-bottom: 15px;
  }
  #work .workSlide .textSlide .textWrap .workText .textExp span:nth-of-type(1) {
    font-size: 18px;
  }
  #work .workSlide .textSlide .textWrap .workText .textExp span:nth-of-type(2) {
    font-size: 16px;
  }
  #work .workSlide .bgSlide {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 60%;
  }
  #work .workSlide .bgSlide .bgWrap .bg {
    margin: 0 12vw 0 8vw;
    width: 80vw;
    height: 40vw;
    transition: 0.5s;
  }
  #work .workSlide .bgSlide .bgWrap .bg.sub {
    opacity: 0;
  }
  #project .projectImgWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  #project .projectWrap {
    width: 80%;
    margin: 0 auto;
    z-index: 9;
  }
  #about {
    .normal-content {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      .profileLeft {
        width: 100%;
        margin: auto;
        height: 100%;
        border-bottom: 1px solid #000;
        border-right: none;
        padding-bottom: 30px;
      }
      .profileRight {
        width: 100%;
        padding: 1.5rem;
        .col {
          .inner {
            gap: 30px;
            .infoL,
            .infoR {
              & > * {
                padding: 0;
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }
}
// ================767================
@media screen and (max-width: 767px) {
  #header {
    height: calc(7vw + 25px);
  }
  #project .projectImgWrap {
    display: none;
  }
  #about {
    .normal-content {
      .profileRight {
        .col {
          .inner {
            gap: 20px;
          }
        }
      }
    }
  }
}
// ================576================
@media screen and (max-width: 576px) {
  #header {
    height: calc(7vw + 50px);
  }
  #header nav.inner .tabs {
    height: 5vw;
  }
  #header nav.inner .tabs .tab {
    font-size: 5vw;
    padding: 0 1.7vw;
    line-height: 5vw;
  }
  #work .bg a .desc {
    font-size: 20px;
  }
  #work .workSlide .bgSlide .bgWrap .bg {
    margin: 0 8vw 0 2vw;
    width: 90vw;
    height: 45vw;
  }
  #work .workSlide .textSlide {
    margin-top: -100px;
  }
  #work .workSlide .textSlide .textWrap .workText {
    flex-direction: column;
    justify-content: center;
  }
  #work .workSlide .textSlide .textWrap .workText .textExp {
    text-align: center;
  }
  #work .workSlide .textSlide .textWrap .workText p {
    font-size: 6.5vw;
  }
  #about {
    .normal-content {
      .profileRight {
        .col {
          .inner {
            gap: 5px;
          }
          &.col2 .skillBar {
            width: 300px;
          }
        }
      }
    }
  }
}
