/* 10/25 시작 */
/* 메뉴 구성 큐브 효과로 하기로 하고 탭123 으로 연결 탭 애니메이션 + 화면 전환 10/28 */
/* tab3 반응형 끝 이지만 수정하면됨 10/30 */
/* tab1 work desc만 추가 하면 끝 11/1 */
/* tab2 프로젝트 이제 추가하면 됨  */

@import url(./css/reset.css);

@font-face {
  font-family: "Cafesquare";
  src: url(./fonts/Cafe24Ohsquare.woff);
}
@font-face {
  font-family: "pretendard";
  src: url(./fonts/Pretendard-Regular.woff);
}
@font-face {
  font-family: "Nanum";
  src: url(./fonts/NanumSquareOTF_acEB.woff);
}
:root {
  --color-main: rgb(30, 31, 33);
  --color-sub: rgb(255, 255, 255);
  --color-sup: rgb(232, 232, 232);
  --color-blue: rgb(0, 115, 229);
  --color-green: rgb(25, 206, 96);
  --color-pro1: rgb(161, 161, 229);
  --color-gray: rgb(121, 123, 128);
  --font-heading: "Cafesquare";
  --font-article: "pretendard";
  --font-work: "Nanum";
  --font-size-head: 55px;
  --s: 8px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
}
@mixin flex-r-c {
  display: flex;
  justify-content: center;
  align-content: center;
}
@mixin flex-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
html {
  height: 100%;
}
body {
  line-height: 1;
  overflow-y: hidden;
  background-color: var(--color-main);
  font-family: var(--font-article);
}
#intro {
  background-color: var(--color-sub);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}
.introWrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro .introMain {
  position: absolute;
  width: 200%;
  left: -50%;
  top: 50%;
  transform: translate(0, -50%);
}
.intro::after {
  content: "";
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  background-color: var(--color-main);
  z-index: 10;
  transform: translate(0, -50%);
  transition: 0.4s;
  transition-delay: 2.5s;
}
.intro .introMain .line {
  position: absolute;
  width: 100%;
  height: 1px;
  z-index: 10;
  background-color: var(--color-sub);
  transition: 0.2s;
  transition-delay: 2.1s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}
.intro .introMain .line span {
  display: block;
  width: 100%;
  height: 100%;
}
.intro .introMain .line span::before {
  content: "";
  position: absolute;
  background-color: var(--color-main);
  width: 0;
  height: 1px;
  transition: 0.8s;
}
.intro .introMain .line.top {
  top: 0;
  left: 0;
}
.intro .introMain .line.top span::before {
  bottom: 0;
  left: 25%;
}
.intro .introMain .line.bot {
  bottom: 0;
  right: 0;
}
.intro .introMain .line.bot span::before {
  top: 0;
  right: 25%;
}
.intro .introText {
  position: relative;
  padding: 20px 0 30px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .introText p {
  font-size: 7rem;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
  transition: 0.5s;
  color: var(--color-blue);
}
.intro .introText p:last-of-type {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.intro.open::after {
  height: 100%;
}
.intro.open .line {
  height: 50%;
}
.intro.open .line span::before {
  width: 50%;
}
.intro.open .introText p:first-of-type {
  opacity: 1;
}
.intro.none {
  display: none;
}
// intro start===============end
// header start===============
#header {
  height: 6vw;
  width: 100%;
  z-index: 99;
  position: fixed;
  transition: all 0.5s cubic-bezier(1, 1, 1, 1);
  top: 0;
  opacity: 1;
}
#header.active {
  transform: translateY(-100%);
}
#header.hide {
  display: none;
}
#header nav.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 7vw;
}
#header nav.inner .tabs {
  position: relative;
  display: flex;
  align-items: center;
  height: 4vw;
  perspective: 99999px;
  will-change: transform;
  transition: 0.35s;
}
#header nav.inner .tabs:first-of-type .tab:first-child,
#header nav.inner .tabs:last-of-type .tab:first-child {
  padding: 0 1.52vw;
}
#header nav.inner .tabs:hover .tab {
  transform: rotateX(90deg);
}
#header.on {
  nav.inner .tabs .tab {
    color: var(--color-main);
  }
}
#header nav.inner .tabs {
  &:nth-of-type(2) {
    &.on {
      .tab {
        color: var(--color-main);
      }
    }
  }
}
#header nav.inner .tabs.on {
  .tab {
    color: var(--color-green);
  }
}
#header nav.inner .tabs .tab {
  display: flex;
  justify-content: center;
  font-family: var(--font-heading);
  font-size: 3.5vw;
  color: var(--color-sub);
  line-height: 4vw;
  padding: 0 1.25vw;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-30px);
  transition: transform 0.4s cubic-bezier(0.26, 1, 0.3, 1);
  will-change: transform;
}

#header nav.inner .tabs .tab:nth-of-type(2) {
  transition-delay: 0.0514s;
}
#header nav.inner .tabs .tab:nth-of-type(3) {
  transition-delay: 0.1028s;
}
#header nav.inner .tabs .tab:nth-of-type(4) {
  transition-delay: 0.15428s;
}
#header nav.inner .tabs .tab:nth-of-type(5) {
  transition-delay: 0.1957142s;
}
#header nav.inner .tabs .tab:nth-of-type(6) {
  transition-delay: 0.24714s;
}
#header nav.inner .tabs .tab:nth-of-type(7) {
  transition-delay: 0.28857s;
}
#header nav.inner .tabs .tab .top,
#header nav.inner .tabs .tab .bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#header nav.inner .tabs .tab .top {
  transform: rotateY(0deg) translateZ(-2.777778vw);
}
#header nav.inner .tabs .tab .bottom {
  transform: rotateX(-90deg) translateZ(-2.777778vw);
}
// header end===================
// 빈공간 scroll===================
.wallpaper {
  height: 100vh;
}
.wrap {
  background-color: var(--color-main);
}
.proScroll {
  will-change: transform;
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translate3d(0px, 45px, 0px);
  transition: all 1s ease-in-out 0.2s;
  &.active {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.pageStart {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: var(--color-sup);
    line-height: 1.2;
    font-size: 2.5vw;
    span {
      color: var(--color-green);
      font-size: 3vw;
    }
  }
}

.secIntro {
  .inner {
    max-width: 1400px;
    margin: 0 auto;
  }
  text-align: right;
  height: 30vh;
  color: var(--color-gray);
  font-size: var(--xxl);
  padding: 0 1.5rem;
  h2 {
    display: inline-block;
    border-bottom: 2px solid var(--color-green);
    padding: 3vh 0;
  }
  p {
    padding: 4vh 0 0 0;
  }
  span {
    color: var(--color-green);
  }
}

#work {
  min-height: 100%;
  .btnArea {
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    button {
      transition: 0.35s ease-in;
      padding: 10px 20px;
      font-size: var(--l);
      cursor: pointer;
      border-radius: 30px;
      background-color: var(--color-sub);
      color: var(--color-green);
      border: none;
      &.on {
        background-color: var(--color-green);
        color: var(--color-sub);
      }
      &:hover {
        background-color: var(--color-green);
        color: var(--color-sub);
      }
    }
  }
  .contents {
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    max-width: 1480px;
    margin: 0 auto;
    gap: 20px;
    padding: 10vh 0;
    justify-content: center;
    .content {
      position: relative;
      width: 240px;
      height: 200px;
      &.on {
        .item {
          img {
            opacity: 1;
            transition: 0.15s ease-in-out;
            transition-delay: 0.2s;
          }
        }
      }
      &:nth-of-type(4n) {
        .item {
          right: 0;
          top: 0;
          width: 0;
          height: 100%;
        }
        &.on {
          .item {
            width: 100%;
          }
        }
      }
      &:nth-of-type(4n + 1) {
        .item {
          right: 0;
          bottom: 0;
          height: 0;
          width: 100%;
        }
        &.on {
          .item {
            height: 100%;
          }
        }
      }
      &:nth-of-type(4n + 2) {
        .item {
          left: 0;
          bottom: 0;
          width: 0;
          height: 100%;
        }
        &.on {
          .item {
            width: 100%;
          }
        }
      }
      &:nth-of-type(4n + 3) {
        .item {
          left: 0;
          top: 0;
          height: 0;
          width: 100%;
        }
        &.on {
          .item {
            height: 100%;
          }
        }
      }
      .item {
        background-color: var(--color-sub);
        border-radius: 5px;
        position: absolute;
        transition: 0.25s ease-in-out;
        @include flex-c-c();
        img {
          opacity: 0;
        }
      }
    }
  }
}
// project===========
#project {
  transition: 0.35s ease-in-out;
  height: 300vh;
  width: 100%;
  display: flex;
  .projectImg {
    @include flex-c-c();
    figure {
      position: absolute;
      opacity: 0;
      width: 45vw;
      transition: 0.35s ease-in-out;
      &.on {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &.mobile {
      display: none;
    }
  }
  .imgWrap {
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
    article {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  .projectWrap {
    height: 100%;
    width: 50%;
    .project {
      &:last-of-type {
        figure {
          width: 50vw;
        }
      }
      color: var(--color-sub);
      display: flex;
      width: 100%;
      height: 100vh;
      .projectDesc {
        width: 100%;
        @include flex-c-c();
        .info {
          text-align: right;
          align-items: flex-end;
          z-index: 2;
          word-break: keep-all;
          width: 100%;
          padding: 0 8vw;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .pageNumber {
            font-size: 6vw;
            color: var(--color-sup);
          }
          .proTit {
            font-size: var(--xxxl);
            letter-spacing: -1px;
            text-transform: uppercase;
          }
          .subTit {
            font-size: var(--l);
            color: var(--color-sup);
          }
          .desc {
            font-size: var(--l);
            line-height: 1.5;
          }
          .link {
            padding: 1rem 1.5rem;
            border: 1px solid #fff;
            border-radius: 1.5rem;
            transition: 0.35s cubic-bezier(1, 1, 1, 1);
          }
        }
      }
      &:first-of-type {
        .info {
          .link {
            &:hover {
              background-color: var(--color-sub);
              color: var(--color-blue);
            }
          }
        }
      }
      &:nth-of-type(2) {
        .info {
          .link {
            &:hover {
              background-color: var(--color-sub);
              color: var(--color-pro1);
            }
          }
        }
      }
      &:last-of-type {
        color: var(--color-sub);
        .info {
          .subTit {
            color: var(--color-sup);
          }
          .link {
            border: 1px solid var(--color-sub);
            &:hover {
              background-color: var(--color-sub);
              color: var(--color-main);
            }
          }
        }
      }
    }
  }
}
// project====end
#about {
  padding: 10vh 0 3vh;
  color: var(--color-sub);
  .introduce {
    h2.introTitle {
      font-size: var(--xxl);
      padding-bottom: 15px;
    }
    p {
      line-height: 1.5;
      font-size: 18px;
    }
  }
  .content-box {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 1.5rem;
    word-break: keep-all;
  }
  .scroll-content {
    .scroll-graphic {
      overflow-x: hidden;
      position: sticky;
      top: 0;
      height: 100vh;
      .graphic-item {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.5s;
        will-change: opacity;
        .scene-img {
          max-height: 100vh;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        &.visible {
          opacity: 1;
        }
      }
    }
    .scroll-text {
      position: relative;
      .text {
        color: var(--color-main);
        font-size: var(--l);
        line-height: 1.5;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
        border-radius: 10px;
        padding: 1.5rem 1rem;
        word-break: keep-all;
        margin-bottom: 60vh;
        strong {
          font-size: var(--xl);
          color: var(--color-blue);
          letter-spacing: 1px;
        }
        &:last-child {
          margin-bottom: 40vh;
        }
      }
    }
  }
  .normal-content {
    padding: 2rem 1.5rem;
    background-color: var(--color-sub);
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    min-height: 80vh;
    color: var(--color-main);
    border-radius: 10px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    h3 {
      color: var(--color-blue);
      font-size: var(--l);
    }
    .profileLeft {
      @include flex-c-c();
      text-align: center;
      width: 35%;
      height: 100%;
      padding: 10% 2%;
      border-right: 1px solid #000;
      h3 {
        margin-bottom: 15px;
      }
      figure {
        width: 300px;
        height: 300px;
        margin: 50px 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .profileRight {
      width: 65%;
      padding-left: 1.5rem;
      height: 100%;
      .col {
        &:not(:first-of-type) {
          h3 {
            margin-top: 30px;
          }
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid #000;
        }
        .inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 50px;
          padding: 30px 0;
          padding-left: 2rem;
          .infoL,
          .infoR {
            & > * {
              padding-bottom: 10px;
            }
          }
        }
        &.col2 {
          p {
            span {
              font-size: 13px;
              color: var(--color-sup);
              margin-left: 10px;
            }
          }
          .skillBar {
            position: relative;
            display: inline-block;
            width: 200px;
            height: 10px;
            background-color: var(--color-sup);
            border-radius: 10px;
            padding-bottom: 5px;
            span {
              will-change: width;
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 10px;
              width: 0;
              height: 100%;
              background-color: var(--color-blue);
            }
          }
        }
      }
    }
  }
}
footer {
  font-size: 10px;
  color: var(--color-sup);
  padding: 1.5rem 0;
  text-align: center;
  background-color: var(--color-main);
}
// pc -> tab -> moblie pc 우선
@media screen and (max-width: 1024px) {
  .intro .introText {
    padding: 10px 0 15px;
  }
  .intro .introText p {
    font-size: 4rem;
  }
  .pageStart {
    .inner {
      h2 {
        font-size: 4vw;
        span {
          font-size: 4.5vw;
        }
      }
    }
  }
  #work {
    .contentsWrap {
      padding: 10vh 1.5rem;
    }
  }
  #project {
    // display: block;
    .imgWrap.pc {
      display: none;
    }
    .projectImg {
      width: 100%;
      height: 50%;
      order: -1;
      figure {
        position: relative;
        opacity: 1;
      }
      &.mobile {
        display: flex;
      }
    }
    .projectWrap {
      width: 100%;
      height: 100%;
      .project {
        flex-direction: column;
        height: 100vh;
        .projectDesc {
          width: 100%;
          height: 50%;
          .info {
            align-items: center;
            text-align: center;
          }
        }
      }
    }
  }
  #about {
    .normal-content {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      .profileLeft {
        width: 100%;
        margin: auto;
        height: 100%;
        border-bottom: 1px solid #000;
        border-right: none;
        padding-bottom: 30px;
      }
      .profileRight {
        width: 100%;
        padding: 1.5rem;
        .col {
          .inner {
            gap: 30px;
            .infoL,
            .infoR {
              & > * {
                padding: 0;
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #header {
    height: calc(6vw + 25px);
  }

  .pageStart {
    .inner {
      h2 {
        font-size: 5vw;
        span {
          font-size: 5.5vw;
        }
      }
    }
  }
  #work .contents {
    gap: 15px;
  }
  #about {
    .normal-content {
      .profileRight {
        .col {
          .inner {
            gap: 20px;
          }
        }
      }
    }
  }
  #project .projectWrap .project .projectImg figure {
    width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  #header {
    height: calc(6vw + 50px);
  }
  #header nav.inner .tabs {
    height: 5vw;
  }
  #header nav.inner .tabs .tab {
    font-size: 5vw;
    padding: 0 1.7vw;
    line-height: 5vw;
  }

  #work .contents {
    gap: 5px;
  }
  #about {
    .normal-content {
      .profileRight {
        .col {
          .inner {
            gap: 5px;
          }
          &.col2 .skillBar {
            width: 300px;
          }
        }
      }
    }
  }
}
