@import url(./css/reset.css);

@font-face {
  font-family: "pretendard";
  src: url(./Pretendard-Regular.woff);
}
:root {
  --color-main: rgb(17, 17, 17);
  --color-sub: rgb(255, 255, 255);
  --color-sup: rgb(232, 232, 232);
  --color-point: rgb(25, 101, 254);
  --color-im: rgb(254, 218, 25);
  --font-heading: "Cafesquare";
  --font-article: "pretendard";
  --font-work: "Nanum";
  --font-size-head: 55px;
  --s: 8px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: var(--font-article);
}

#tab2 {
  background-color: var(--color-sub);
  color: var(--color-main);
}
#tab2 section {
  height: 100%;
  padding-bottom: 50px;
}
#tab2 section:last-of-type {
  padding: 0;
}
#tab2 section.project1 h1,
#tab2 section.project1 h2,
#tab2 section.project1 h3 {
  color: rgb(190, 190, 255);
}
#tab2 section.project1 p strong {
  font-size: 30px;
  color: #c2508b;
}
#tab2 section.project1 article:first-of-type {
  background-size: cover;
  background-attachment: fixed;
}
#tab2 section.project1 article:first-of-type::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.2);
}
#tab2 section.project2 article:first-of-type {
  background: url(./tab2-imges/pro2-mainbg.png) no-repeat left;
  background-size: contain;
  background-attachment: fixed;
}
#tab2 section.project2 article:first-of-type::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.2);
}
#tab2 section.project2 article h1 {
  text-align: right;
  padding-top: 150px;
  color: #2e4efe;
  z-index: 2;
}
#tab2 section.project3 article:not(:first-of-type) .inner {
  max-width: 1350px;
  text-align: left;
}
#tab2 section.project3 article:first-of-type {
  background: no-repeat center;
  background-attachment: fixed;
}
#tab2 .proScroll {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.1s;
  transition-delay: 0.2s;
}
#tab2 .proScroll.active {
  opacity: 1;
  transform: translateY(0);
}
#tab2 article {
  width: 100%;
  height: 100vh;
  position: relative;
}
#tab2 article .inner {
  word-break: keep-all;
  padding: 0 1.5rem;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
#tab2 article .inner h1 {
  font-size: 60px;
}
#tab2 article .inner h2 {
  padding-top: 50px;
  font-size: 40px;
}
#tab2 article .inner h3 {
  font-size: 25px;
}
#tab2 article .inner p {
  padding-top: 50px;
  font-size: 25px;
}
#tab2 .pro1-art1 .inner {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
#tab2 .pro1-art1 .inner h1 {
  letter-spacing: -1px;
  margin-top: -150px;
}
#tab2 .pro1-art2 .inner figure {
  padding-top: 50px;
}
#tab2 .pro1-art2 .inner figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#tab2 .pro1-art3 {
  height: 100%;
  padding-bottom: 100px;
}
#tab2 .pro1-art3 .items {
  transition: all 0.35s;
  gap: 50px;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}
#tab2 .pro1-art3 .item {
  position: relative;
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
}
#tab2 .pro1-art3 .item:nth-of-type(odd) {
  top: 30px;
}
#tab2 .pro1-art3 .item p {
  padding: 0;
  font-size: 18px;
}
#tab2 .pro1-art4 {
  height: 100%;
}
#tab2 .pro1-art4 .sub-title {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#tab2 .pro1-art4 .sub-title span {
  width: 50px;
  height: 20px;
}
#tab2 .pro1-art4 .sub-title span img {
  width: 80%;
}
#tab2 .pro1-art4 .sub-title p {
  line-height: 25px;
  padding: 0;
}
#tab2 .pro1-art4 .sub-title p:last-of-type strong {
  color: rgb(190, 190, 255);
}
#tab2 .pro1-art4 .concept {
  position: relative;
  margin-top: 100px;
  width: 100%;
  min-height: 100px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
#tab2 .pro1-art4 .concept .contents {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  width: 250px;
  height: 100px;
  background: linear-gradient(
    93.65deg,
    rgb(190, 190, 255) 28.81%,
    #f6f3ff 102.65%
  );
  border-radius: 46.4286px;
}
#tab2 .pro1-art4 .concept .contents span {
  display: inline-block;
  border-radius: 50%;
  line-height: 80px;
  width: 80px;
  height: 80px;
  background-color: #fff;
}
#tab2 .pro1-art4 .concept2 {
  margin-top: 150px;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}
#tab2 .pro1-art4 .concept2 .contents {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tab2 .pro1-art4 .concept2 .contents img {
  width: 100%;
  vertical-align: top;
}
#tab2 .pro1-art4 .concept2 .contents:first-of-type {
  gap: 10px;
  flex-direction: column;
}
#tab2 .pro1-art4 .concept2 .contents:first-of-type span {
  font-size: 18px;
}
#tab2 .pro1-art4 .concept2 .contents:last-of-type img {
  width: 50%;
}
#tab2 .pro1-art5 {
  height: 100%;
}
#tab2 .pro1-art5 .descs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#tab2 .pro1-art5 .descs .desc {
  width: 30%;
  margin-top: 100px;
}
#tab2 .pro1-art5 .descs .desc p {
  color: #cfcfcf;
  padding: 0;
  margin-bottom: 50px;
}
#tab2 .pro1-art5 .color {
  display: inline-block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
#tab2 .pro1-art5 .color:first-of-type {
  background-color: rgb(190, 190, 255);
}
#tab2 .pro1-art5 .color:nth-of-type(2) {
  background-color: #c2508b;
}
#tab2 .pro1-art5 .color:last-of-type {
  background-color: #f2f2f2;
}
#tab2 .pro1-art5 .result {
  margin-top: 150px;
  width: 100%;
  height: 600px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#tab2 .pro1-art5 .result h2,
#tab2 .pro1-art5 .result p {
  padding: 0 1rem;
}
#tab2 .pro1-art5 .result figure {
  width: 200px;
  height: 200px;
  border-radius: 15%;
}
#tab2 .pro1-art5 .result figure img {
  width: 100%;
  height: 100%;
}
#tab2 .pro2-art2 {
  height: 100%;
}
#tab2 .pro2-art2 figure {
  margin-top: 30px;
}
#tab2 .pro2-art2 figure img {
  width: 100%;
}
#tab2 .pro2-art3 .content {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
#tab2 .pro2-art3 .content .phone {
  margin-right: -100px;
  width: 60%;
  display: flex;
}
#tab2 .pro2-art3 .content .phone figure {
  position: relative;
}
#tab2 .pro2-art3 .content .phone figure:first-of-type {
  top: 100px;
  margin-right: -230px;
  z-index: 2;
}
#tab2 .pro2-art3 .content .desc {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
#tab2 .pro2-art3 .content .desc p {
  font-size: 30px;
}
#tab2 .pro2-art4 {
  height: 100%;
  padding-bottom: 50px;
}
#tab2 .pro2-art4 .concept {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
#tab2 .pro2-art4 .concept .contents {
  width: 50%;
}
#tab2 .pro2-art4 .concept .contents figure {
  width: 100%;
}
#tab2 .pro2-art4 .concept .contents figure img {
  width: 100%;
}
#tab2 .pro2-art4 .concept .contents .sub-title {
  padding-left: 2rem;
  text-align: left;
  position: relative;
  margin: 50px 0;
}
#tab2 .pro2-art4 .concept .contents .sub-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #2e4efe;
  position: absolute;
  bottom: 0;
  left: 2rem;
}
#tab2 .pro2-art4 .concept .contents:first-of-type {
  width: 100%;
}
#tab2 .pro2-art4 .concept .contents .colorItem {
  margin-left: 50px;
  display: flex;
  gap: 100px;
}
#tab2 .pro2-art4 .concept .contents .colorBox {
  display: flex;
  flex-direction: column;
}
#tab2 .pro2-art4 .concept .contents .colorBox .color {
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid #2e4efe;
}
#tab2 .pro2-art4 .concept .contents .colorBox .color:first-of-type {
  background-color: #2e4efe;
  border-bottom: none;
}
#tab2 .pro2-art4 .concept .contents .colorBox .color:nth-of-type(2) {
  border-bottom: none;
  background-color: #080d2a;
}
#tab2 .pro2-art4 .concept .contents .colorBox .color:last-of-type {
  background-color: #fefefe;
}
#tab2 .pro2-art4 .concept .contents .colorText {
  line-height: 35px;
  display: flex;
  flex-direction: column;
}
#tab2 .pro2-art4 .concept .contents .fonts {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#tab2 .pro2-art4 .concept .contents .fonts,
#tab2 .pro2-art4 .concept .contents .fontDesc {
  margin-left: 50px;
}
#tab2 .pro2-art4 .concept .contents .fontDesc {
  font-size: 18px;
}
#tab2 .pro2-art5 {
  padding: 30px 0;
}
#tab2 .pro3-art1 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  color: rgb(25, 101, 254);
}
#tab2 .pro3-art1 h1 {
  font-size: 40px;
  letter-spacing: -1px;
  z-index: 2;
  position: relative;
}
#tab2 .pro3-art1 h1::after {
  display: block;
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#tab2 .pro3-art2 .overview {
  margin-top: 150px;
  display: flex;
}
#tab2 .pro3-art2 .overview .frame {
  position: relative;
  width: 24%;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 15px;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
}
#tab2 .pro3-art2 .overview .frame h3 {
  display: inline-block;
  padding: 1rem;
  border-radius: 15px;
  position: relative;
  top: -50px;
}
#tab2 .pro3-art2 .overview .frame p {
  padding-top: 15px;
}
#tab2 .pro3-art2 .overview .frame:nth-of-type(even) {
  top: 50px;
}
#tab2 .pro3-art2 .overview .frame:first-of-type h3 {
  background-color: rgb(25, 101, 254);
}
#tab2 .pro3-art2 .overview .frame:nth-of-type(2) h3 {
  color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 17);
}
#tab2 .pro3-art2 .overview .frame:nth-of-type(3) h3 {
  background-color: rgb(232, 232, 232);
}
#tab2 .pro3-art2 .overview .frame:last-of-type h3 {
  background-color: rgb(254, 218, 25);
}

@media screen and (max-width: 1124px) {
  #tab2 .pro2-art3 {
    height: 100%;
  }
  #tab2 .pro2-art3 .content {
    padding: 0.5rem;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #tab2 .pro2-art3 .content .phone {
    margin: auto;
    justify-content: center;
    width: 80%;
    display: flex;
  }
  #tab2 .pro2-art3 .content .phone figure {
    position: relative;
  }
  #tab2 .pro2-art3 .content .phone figure:first-of-type {
    top: 100px;
    margin-right: -230px;
    z-index: 2;
  }
  #tab2 .pro2-art3 .content .desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #tab2 .pro2-art3 .content .desc p {
    font-size: 30px;
  }
  #tab2 .pro3-art2 {
    height: 100%;
  }
  #tab2 .pro3-art2 .inner h2,
  #tab2 .pro3-art2 .inner p {
    text-align: center;
  }
  #tab2 .pro3-art2 .overview {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  #tab2 .pro3-art2 .overview .frame {
    position: relative;
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  #tab2 .pro2-art4 {
    margin-top: 100px;
  }
  #tab2 .pro2-art4 .concept {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #tab2 .pro2-art4 .concept .contents {
    width: 100%;
  }
  #tab2 .pro2-art4 .concept .contents .sub-title {
    padding: 0;
  }
  #tab2 .pro2-art4 .concept .contents .sub-title::after {
    left: 0;
  }
  #tab2 .pro2-art4 .concept .contents .fonts,
  #tab2 .pro2-art4 .concept .contents .fontDesc {
    margin-left: 0;
  }
  #tab2 .pro3-art2 .overview {
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 50px;
  }
  #tab2 .pro3-art2 .overview .frame {
    width: 80%;
    margin: 0 auto;
  }
  #tab2 .pro3-art2 .overview .frame:nth-of-type(even) {
    top: 0px;
    left: 40px;
  }
  #tab2 .pro3-art2 .overview .frame p {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  #tab2 article:nth-of-type(2) .inner,
  #tab2 article:last-of-type .inner {
    padding: 0;
  }
  #tab2 .pro1-art2 .inner figure {
    padding-top: 100px;
  }
  #tab2 .pro1-art3 {
    margin-top: -100px;
    padding-bottom: 50px;
  }
  #tab2 .pro1-art3 .items {
    margin-top: 50px;
    padding: 1rem 2rem;
  }
  #tab2 .pro1-art3 .items .item {
    flex: 47%;
  }
  #tab2 .pro1-art3 .items .item:nth-of-type(odd) {
    top: 0;
    left: 30px;
  }
  #tab2 .pro1-art3 .items .item:nth-of-type(even) {
    right: 30px;
  }
  #tab2 .pro1-art4 .sub-title {
    margin-top: 50px;
    gap: 50px;
  }
  #tab2 .pro1-art4 .concept .contents:nth-of-type(odd) {
    margin-left: 100px;
  }
  #tab2 .pro1-art4 .concept .contents:nth-of-type(even) {
    margin-right: 100px;
  }
  #tab2 .pro1-art4 .concept2 {
    margin-top: 50px;
  }
  #tab2 .pro1-art4 {
    padding-top: 50px;
  }
  #tab2 .pro1-art4 .descs {
    margin: 50px 0;
  }
  #tab2 .pro1-art4 .descs .desc {
    width: 45%;
  }
  #tab2 .pro1-art4 .result {
    margin-top: 50px;
  }
  #tab2 .pro2-art5 video {
    margin: -100px;
  }
}
