* {
  box-sizing: border-box;
}
/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}
/* a링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}
